<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Query Explorer</title>
    <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" src="d3/d3.v3.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div id=container>
        <h1>Query Explorer</h1>
        <script type="text/javascript" src="static/test.js"></script>
    </div>
</body>
</html>

