<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %} Query Explorer {% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="static/css/tipsy.css">-->
    <!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <script type="text/javascript" src="static/js/d3/d3.v3.js"></script>
    <!--<script type="text/javascript" src="static/js/jquery.tipsy.js"></script>-->
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    {% endblock %}
</head>
<body>

    <div class=sans id=navigation>
        {% for item in navigation_elements %}
        <a href="{{ item.link }}">{{ item.text }}</a> </br>
        {% endfor %}
    </div>

    <div id=rightsidebar>
    {% block rightsidebar %}
    {% endblock %}
    </div>
    
    <center>
        <div id=content>
            <h1 class=serif>Query Explorer</h1>
            {% block content %}
            {% endblock %}
        </div>

        <div class=sans id=footer>
            &copy; Copyright 2013 by <a href="http://www.eecs.berkeley.edu/~alspaugh">salspaugh</a>.
        </div>
    </center>

</body>
</html>

