{% extends "base.html" %}
{% block head%}
    <link rel="stylesheet" type="text/css" href="static/css/commands_indicator.css">
{% endblock %}
{% block rightsidebar %}
    <center>
        <input type="text">
        <button type="button" class=addlabel>Assign label</button>
        <button type="button" class=removelabel style="margin-top: 50px;">Remove label</button>
    </center>
{% endblock %}
{% block content %}
   <script type="text/javascript" src="static/js/commandsIndicator.js"></script> 
{% endblock %}

